	@font-face {
	    font-family: 'exothin';
	    src: url('../fonts/exo-thin-webfont.woff2') format('woff2'),
	         url('../fonts/exo-thin-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'exomedium';
	    src: url('../fonts/exo-medium-webfont.woff2') format('woff2'),
	         url('../fonts/exo-medium-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}